.videoListMini {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

videoListMiniItem {
	max-width: 220px;
	height: auto;
}

img {
	width: 210px;
	height: 118px;
	margin-right: 4px;
	cursor: pointer;
}

h3 {
	max-width: 210px;
	font-size: 14px;
	cursor: pointer;
}

.videoMiniItemInfo {
	text-align: left;
}

iframe {
	width: 853px;
	height: 480px;
	border: none;
}